<h1>Find the optimal change for your pennies!</h1>
<form action='/coin_comb'>
  <div class='form-group'>
    <label for='cents'>Enter a number of pennies</label>
    <input id='cents' name='cents' class='form-control' type='text' placeholder='No decimals!'>
  </div>
  <button type = 'submit' class ='btn-success'>Give me change!</button>
</form>
